backend/__pycache__/
backend/*.pyc
backend/.env
backend/venv/
frontend/node_modules/
*env
frontend/nginx/logs/
backend/logs

# Backup files
*.backup
*_backup_*
*_copy
*.bak

# OS files
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
*.swo

# Database
*.db
